.get-container {
  margin-bottom: 140px;
}

.get-text-container {
  margin: 0 auto;
  text-align: center;
}

.get-block-heading {
  margin-bottom: 50px;
}

.get-btn {
  border: none;
  margin: 0 auto;
  padding-left: 18px;
  padding-right: 18px;
}
