//common layout styles

body {
  background-color: $bg-color;
}
.container {
  max-width: $breakpoint-m;
  padding: 0 16px;
  margin: 0 auto;

  @media screen and (min-width: $breakpoint-m) {
    padding: 0 32px;
  }

  @media screen and (min-width: $breakpoint-l) {
    max-width: $breakpoint-l;
    padding: 0 60px;
  }
  @media screen and (min-width: $breakpoint-xl) {
    max-width: $breakpoint-xl;
    padding: 0;
  }
}
.button {
  @include button-style;
}
.block-heading {
  font-size: $heading-fsize;
  line-height: $heading-line-height;
  font-weight: 400;
  font-style: normal;
}
