//fonts and default text settings

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body,
a,
button {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: $base-fsize;
  line-height: $base-line-height;
  color: $primary-text-color;
}
