//colors
$primary-color: #f4e041;
$secondary-color: #00bdd3;
$btn-hover: #ffe302;
$btn-disabled: #b4b4b4;

$primary-text-color: rgba(0, 0, 0, 0.87);
$secondary-text-color: #fff;

$bg-color: #f8f8f8;

//fonts` characteristics
$base-fsize: 16px;
$base-line-height: 1.625;

$heading-fsize: 40px;
$heading-line-height: 1;

//breackpoints
$breakpoint-xs: 360px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1170px;
